# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# use remote mongo atlas
DATABASE_URL="mongodb+srv://test:test@cluster0.ns1yp.mongodb.net/myFirstDatabase"

# run mongo docker local
# docker build mongodb container command:
# ❯ docker pull mongo 
# ❯ docker pull prismagraphql/mongo-single-replica:5.0.3
# ❯ docker run --name enroll_system  -p 27017:27017 -e MONGO_INITDB_ROOT_USERNAME="admin" -e MONGO_INITDB_ROOT_PASSWORD="123456" -d prismagraphql/mongo-single-replica:5.0.3         
DATABASE_URL="mongodb://admin:123456@localhost:27017/enroll_system?authSource=admin&directConnection=true"